In [1]:
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as ply
import pandas as pd

In [5]:
gdresponse=requests.get("https://en.wikipedia.org/wiki/List_of_Asian_countries_by_GDP")
gdresponse_text=gdresponse.text
type(gdresponse)

requests.models.Response

In [6]:
gdsoup=BeautifulSoup(gdresponse_text,"html.parser")

In [7]:
gdtables=gdsoup.find_all("table")
len(gdtables)

2

In [8]:
heading_tags=gdtables[0].find_all("th")
heading_tags

[<th>Region<br/>rank
 </th>,
 <th>Country/Territory
 </th>,
 <th>2024 GDP (nominal) in billions
 </th>]

In [14]:
gdheadings=[i.text.strip() for i in heading_tags]
gdheadings

['Regionrank', 'Country/Territory', '2024 GDP (nominal) in billions']

In [15]:
row_tags=gdtables[0].find_all("td")
len(row_tags)

159

In [18]:
rows=[i.text.strip() for i in row_tags]
rows

['â€”',
 'Asia',
 '42.72 trillion',
 '1',
 'China',
 '18.53  trillion[2]',
 '2',
 'Japan',
 '4.07  trillion[3]',
 '3',
 'India',
 '3.88  trillion[4]',
 '4',
 'Russia',
 '2.0 trillion',
 '5',
 'South Korea',
 '1.76 trillion',
 '6',
 'Indonesia',
 '1.47  trillion',
 '7',
 'Turkey',
 '1.3 trillion',
 '8',
 'Saudi Arabia',
 '1.11  trillion',
 '9',
 'Taiwan',
 '803.0 billion',
 '10',
 'Thailand',
 '548.9 billion',
 '11',
 'Israel',
 '530.6 billion',
 '12',
 'United Arab Emirates',
 '527.8 billion',
 '13',
 'Singapore',
 '525.2 billion',
 '14',
 'Philippines',
 '471.5 billion',
 '15',
 'Vietnam',
 '465.8 billion',
 '16',
 'Bangladesh',
 '451.16 billion',
 '17',
 'Malaysia',
 '445.5 billion',
 '18',
 'Iran',
 '434.8 billion',
 '19',
 'Hong Kong\n(SAR)',
 '401.5 billion',
 '20',
 'Pakistan',
 '374.6 billion',
 '21',
 'Kazakhstan',
 '292.8 billion',
 '22',
 'Iraq',
 '265.6 billion',
 '23',
 'Qatar',
 '223.3 billion',
 '24',
 'Kuwait',
 '184.8 billion',
 '25',
 'Oman',
 '114.7 billion',
 '26',
 'Uzbekistan',
 '101.8 billion',
 '27',
 'Turkmenistan',
 '91.1  billion',
 '28',
 'Sri Lanka',
 '85.4  billion',
 '29',
 'Azerbaijan',
 '80.9  billion',
 '30',
 'Myanmar',
 '68.3  billion',
 '31',
 'Macau\n(SAR)',
 '54.7  billion',
 '32',
 'Jordan',
 '53.6  billion',
 '33',
 'Bahrain',
 '46.8  billion',
 '34',
 'Nepal',
 '46.1  billion',
 '35',
 'Cambodia',
 '45.2  billion',
 '36',
 'Lebanon',
 '38.1  billion',
 '37',
 'Cyprus',
 '34.3  billion',
 '38',
 'Georgia',
 '36.6  billion',
 '39',
 'Armenia',
 '27.5  billion',
 '40',
 'North Korea',
 '24.5  billion',
 '41',
 'Syria',
 '22.4  billion',
 '42',
 'Mongolia',
 '22.1  billion',
 '43',
 'Palestine',
 '19.8  billion',
 '44',
 'Laos',
 '19.1  billion',
 '45',
 'Afghanistan',
 '17.1 billion',
 '46',
 'Yemen',
 '16.9 billion',
 '47',
 'Brunei',
 '16.4  billion',
 '48',
 'Kyrgyzstan',
 '13.7  billion',
 '49',
 'Tajikistan',
 '13.2  billion',
 '50',
 'Maldives',
 '8.21  billion',
 '51',
 'Bhutan',
 '3.31  billion',
 '52',
 'Timor-Leste',
 '3.25  billion']

In [19]:
rows=[i.text.strip() for i in row_tags]
rows[3:]

['1',
 'China',
 '18.53  trillion[2]',
 '2',
 'Japan',
 '4.07  trillion[3]',
 '3',
 'India',
 '3.88  trillion[4]',
 '4',
 'Russia',
 '2.0 trillion',
 '5',
 'South Korea',
 '1.76 trillion',
 '6',
 'Indonesia',
 '1.47  trillion',
 '7',
 'Turkey',
 '1.3 trillion',
 '8',
 'Saudi Arabia',
 '1.11  trillion',
 '9',
 'Taiwan',
 '803.0 billion',
 '10',
 'Thailand',
 '548.9 billion',
 '11',
 'Israel',
 '530.6 billion',
 '12',
 'United Arab Emirates',
 '527.8 billion',
 '13',
 'Singapore',
 '525.2 billion',
 '14',
 'Philippines',
 '471.5 billion',
 '15',
 'Vietnam',
 '465.8 billion',
 '16',
 'Bangladesh',
 '451.16 billion',
 '17',
 'Malaysia',
 '445.5 billion',
 '18',
 'Iran',
 '434.8 billion',
 '19',
 'Hong Kong\n(SAR)',
 '401.5 billion',
 '20',
 'Pakistan',
 '374.6 billion',
 '21',
 'Kazakhstan',
 '292.8 billion',
 '22',
 'Iraq',
 '265.6 billion',
 '23',
 'Qatar',
 '223.3 billion',
 '24',
 'Kuwait',
 '184.8 billion',
 '25',
 'Oman',
 '114.7 billion',
 '26',
 'Uzbekistan',
 '101.8 billion',
 '27',
 'Turkmenistan',
 '91.1  billion',
 '28',
 'Sri Lanka',
 '85.4  billion',
 '29',
 'Azerbaijan',
 '80.9  billion',
 '30',
 'Myanmar',
 '68.3  billion',
 '31',
 'Macau\n(SAR)',
 '54.7  billion',
 '32',
 'Jordan',
 '53.6  billion',
 '33',
 'Bahrain',
 '46.8  billion',
 '34',
 'Nepal',
 '46.1  billion',
 '35',
 'Cambodia',
 '45.2  billion',
 '36',
 'Lebanon',
 '38.1  billion',
 '37',
 'Cyprus',
 '34.3  billion',
 '38',
 'Georgia',
 '36.6  billion',
 '39',
 'Armenia',
 '27.5  billion',
 '40',
 'North Korea',
 '24.5  billion',
 '41',
 'Syria',
 '22.4  billion',
 '42',
 'Mongolia',
 '22.1  billion',
 '43',
 'Palestine',
 '19.8  billion',
 '44',
 'Laos',
 '19.1  billion',
 '45',
 'Afghanistan',
 '17.1 billion',
 '46',
 'Yemen',
 '16.9 billion',
 '47',
 'Brunei',
 '16.4  billion',
 '48',
 'Kyrgyzstan',
 '13.7  billion',
 '49',
 'Tajikistan',
 '13.2  billion',
 '50',
 'Maldives',
 '8.21  billion',
 '51',
 'Bhutan',
 '3.31  billion',
 '52',
 'Timor-Leste',
 '3.25  billion']

In [21]:
gdrows=rows[3:]
gdrows

['1',
 'China',
 '18.53  trillion[2]',
 '2',
 'Japan',
 '4.07  trillion[3]',
 '3',
 'India',
 '3.88  trillion[4]',
 '4',
 'Russia',
 '2.0 trillion',
 '5',
 'South Korea',
 '1.76 trillion',
 '6',
 'Indonesia',
 '1.47  trillion',
 '7',
 'Turkey',
 '1.3 trillion',
 '8',
 'Saudi Arabia',
 '1.11  trillion',
 '9',
 'Taiwan',
 '803.0 billion',
 '10',
 'Thailand',
 '548.9 billion',
 '11',
 'Israel',
 '530.6 billion',
 '12',
 'United Arab Emirates',
 '527.8 billion',
 '13',
 'Singapore',
 '525.2 billion',
 '14',
 'Philippines',
 '471.5 billion',
 '15',
 'Vietnam',
 '465.8 billion',
 '16',
 'Bangladesh',
 '451.16 billion',
 '17',
 'Malaysia',
 '445.5 billion',
 '18',
 'Iran',
 '434.8 billion',
 '19',
 'Hong Kong\n(SAR)',
 '401.5 billion',
 '20',
 'Pakistan',
 '374.6 billion',
 '21',
 'Kazakhstan',
 '292.8 billion',
 '22',
 'Iraq',
 '265.6 billion',
 '23',
 'Qatar',
 '223.3 billion',
 '24',
 'Kuwait',
 '184.8 billion',
 '25',
 'Oman',
 '114.7 billion',
 '26',
 'Uzbekistan',
 '101.8 billion',
 '27',
 'Turkmenistan',
 '91.1  billion',
 '28',
 'Sri Lanka',
 '85.4  billion',
 '29',
 'Azerbaijan',
 '80.9  billion',
 '30',
 'Myanmar',
 '68.3  billion',
 '31',
 'Macau\n(SAR)',
 '54.7  billion',
 '32',
 'Jordan',
 '53.6  billion',
 '33',
 'Bahrain',
 '46.8  billion',
 '34',
 'Nepal',
 '46.1  billion',
 '35',
 'Cambodia',
 '45.2  billion',
 '36',
 'Lebanon',
 '38.1  billion',
 '37',
 'Cyprus',
 '34.3  billion',
 '38',
 'Georgia',
 '36.6  billion',
 '39',
 'Armenia',
 '27.5  billion',
 '40',
 'North Korea',
 '24.5  billion',
 '41',
 'Syria',
 '22.4  billion',
 '42',
 'Mongolia',
 '22.1  billion',
 '43',
 'Palestine',
 '19.8  billion',
 '44',
 'Laos',
 '19.1  billion',
 '45',
 'Afghanistan',
 '17.1 billion',
 '46',
 'Yemen',
 '16.9 billion',
 '47',
 'Brunei',
 '16.4  billion',
 '48',
 'Kyrgyzstan',
 '13.7  billion',
 '49',
 'Tajikistan',
 '13.2  billion',
 '50',
 'Maldives',
 '8.21  billion',
 '51',
 'Bhutan',
 '3.31  billion',
 '52',
 'Timor-Leste',
 '3.25  billion']

In [22]:
gddict={}
for i in gdheadings:
    print(i)

Regionrank
Country/Territory
2024 GDP (nominal) in billions

In [23]:
gddict={}
for i in gdheadings:
    gddict[i]=None
gddict

{'Regionrank': None,
 'Country/Territory': None,
 '2024 GDP (nominal) in billions': None}

In [27]:
gddict={}
n=0
for i in gdheadings:
    gddict[i]=[gdrows[j] for j in range(n,len(gdrows),len(gdheadings))]
    n+=1
gddict

{'Regionrank': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37',
  '38',
  '39',
  '40',
  '41',
  '42',
  '43',
  '44',
  '45',
  '46',
  '47',
  '48',
  '49',
  '50',
  '51',
  '52'],
 'Country/Territory': ['China',
  'Japan',
  'India',
  'Russia',
  'South Korea',
  'Indonesia',
  'Turkey',
  'Saudi Arabia',
  'Taiwan',
  'Thailand',
  'Israel',
  'United Arab Emirates',
  'Singapore',
  'Philippines',
  'Vietnam',
  'Bangladesh',
  'Malaysia',
  'Iran',
  'Hong Kong\n(SAR)',
  'Pakistan',
  'Kazakhstan',
  'Iraq',
  'Qatar',
  'Kuwait',
  'Oman',
  'Uzbekistan',
  'Turkmenistan',
  'Sri Lanka',
  'Azerbaijan',
  'Myanmar',
  'Macau\n(SAR)',
  'Jordan',
  'Bahrain',
  'Nepal',
  'Cambodia',
  'Lebanon',
  'Cyprus',
  'Georgia',
  'Armenia',
  'North Korea',
  'Syria',
  'Mongolia',
  'Palestine',
  'Laos',
  'Afghanistan',
  'Yemen',
  'Brunei',
  'Kyrgyzstan',
  'Tajikistan',
  'Maldives',
  'Bhutan',
  'Timor-Leste'],
 '2024 GDP (nominal) in billions': ['18.53  trillion[2]',
  '4.07  trillion[3]',
  '3.88  trillion[4]',
  '2.0 trillion',
  '1.76 trillion',
  '1.47  trillion',
  '1.3 trillion',
  '1.11  trillion',
  '803.0 billion',
  '548.9 billion',
  '530.6 billion',
  '527.8 billion',
  '525.2 billion',
  '471.5 billion',
  '465.8 billion',
  '451.16 billion',
  '445.5 billion',
  '434.8 billion',
  '401.5 billion',
  '374.6 billion',
  '292.8 billion',
  '265.6 billion',
  '223.3 billion',
  '184.8 billion',
  '114.7 billion',
  '101.8 billion',
  '91.1  billion',
  '85.4  billion',
  '80.9  billion',
  '68.3  billion',
  '54.7  billion',
  '53.6  billion',
  '46.8  billion',
  '46.1  billion',
  '45.2  billion',
  '38.1  billion',
  '34.3  billion',
  '36.6  billion',
  '27.5  billion',
  '24.5  billion',
  '22.4  billion',
  '22.1  billion',
  '19.8  billion',
  '19.1  billion',
  '17.1 billion',
  '16.9 billion',
  '16.4  billion',
  '13.7  billion',
  '13.2  billion',
  '8.21  billion',
  '3.31  billion',
  '3.25  billion']}

In [29]:
gddf=pd.DataFrame(gddict)
gddf.index=range(1,len(gddf)+1)
gddf

   Regionrank     Country/Territory 2024 GDP (nominal) in billions
1           1                 China             18.53  trillion[2]
2           2                 Japan              4.07  trillion[3]
3           3                 India              3.88  trillion[4]
4           4                Russia                   2.0 trillion
5           5           South Korea                  1.76 trillion
6           6             Indonesia                 1.47  trillion
7           7                Turkey                   1.3 trillion
8           8          Saudi Arabia                 1.11  trillion
9           9                Taiwan                  803.0 billion
10         10              Thailand                  548.9 billion
11         11                Israel                  530.6 billion
12         12  United Arab Emirates                  527.8 billion
13         13             Singapore                  525.2 billion
14         14           Philippines                  471.5 billion
15         15               Vietnam                  465.8 billion
16         16            Bangladesh                 451.16 billion
17         17              Malaysia                  445.5 billion
18         18                  Iran                  434.8 billion
19         19      Hong Kong\n(SAR)                  401.5 billion
20         20              Pakistan                  374.6 billion
21         21            Kazakhstan                  292.8 billion
22         22                  Iraq                  265.6 billion
23         23                 Qatar                  223.3 billion
24         24                Kuwait                  184.8 billion
25         25                  Oman                  114.7 billion
26         26            Uzbekistan                  101.8 billion
27         27          Turkmenistan                  91.1  billion
28         28             Sri Lanka                  85.4  billion
29         29            Azerbaijan                  80.9  billion
30         30               Myanmar                  68.3  billion
31         31          Macau\n(SAR)                  54.7  billion
32         32                Jordan                  53.6  billion
33         33               Bahrain                  46.8  billion
34         34                 Nepal                  46.1  billion
35         35              Cambodia                  45.2  billion
36         36               Lebanon                  38.1  billion
37         37                Cyprus                  34.3  billion
38         38               Georgia                  36.6  billion
39         39               Armenia                  27.5  billion
40         40           North Korea                  24.5  billion
41         41                 Syria                  22.4  billion
42         42              Mongolia                  22.1  billion
43         43             Palestine                  19.8  billion
44         44                  Laos                  19.1  billion
45         45           Afghanistan                   17.1 billion
46         46                 Yemen                   16.9 billion
47         47                Brunei                  16.4  billion
48         48            Kyrgyzstan                  13.7  billion
49         49            Tajikistan                  13.2  billion
50         50              Maldives                  8.21  billion
51         51                Bhutan                  3.31  billion
52         52           Timor-Leste                  3.25  billion

In [32]:
gddf.rename(columns={"Country/Territory":"Country","2024 GDP(nominal) in billions":"GDP(billion)"},inplace=True)
gddf

   Regionrank               Country 2024 GDP (nominal) in billions
1           1                 China             18.53  trillion[2]
2           2                 Japan              4.07  trillion[3]
3           3                 India              3.88  trillion[4]
4           4                Russia                   2.0 trillion
5           5           South Korea                  1.76 trillion
6           6             Indonesia                 1.47  trillion
7           7                Turkey                   1.3 trillion
8           8          Saudi Arabia                 1.11  trillion
9           9                Taiwan                  803.0 billion
10         10              Thailand                  548.9 billion
11         11                Israel                  530.6 billion
12         12  United Arab Emirates                  527.8 billion
13         13             Singapore                  525.2 billion
14         14           Philippines                  471.5 billion
15         15               Vietnam                  465.8 billion
16         16            Bangladesh                 451.16 billion
17         17              Malaysia                  445.5 billion
18         18                  Iran                  434.8 billion
19         19      Hong Kong\n(SAR)                  401.5 billion
20         20              Pakistan                  374.6 billion
21         21            Kazakhstan                  292.8 billion
22         22                  Iraq                  265.6 billion
23         23                 Qatar                  223.3 billion
24         24                Kuwait                  184.8 billion
25         25                  Oman                  114.7 billion
26         26            Uzbekistan                  101.8 billion
27         27          Turkmenistan                  91.1  billion
28         28             Sri Lanka                  85.4  billion
29         29            Azerbaijan                  80.9  billion
30         30               Myanmar                  68.3  billion
31         31          Macau\n(SAR)                  54.7  billion
32         32                Jordan                  53.6  billion
33         33               Bahrain                  46.8  billion
34         34                 Nepal                  46.1  billion
35         35              Cambodia                  45.2  billion
36         36               Lebanon                  38.1  billion
37         37                Cyprus                  34.3  billion
38         38               Georgia                  36.6  billion
39         39               Armenia                  27.5  billion
40         40           North Korea                  24.5  billion
41         41                 Syria                  22.4  billion
42         42              Mongolia                  22.1  billion
43         43             Palestine                  19.8  billion
44         44                  Laos                  19.1  billion
45         45           Afghanistan                   17.1 billion
46         46                 Yemen                   16.9 billion
47         47                Brunei                  16.4  billion
48         48            Kyrgyzstan                  13.7  billion
49         49            Tajikistan                  13.2  billion
50         50              Maldives                  8.21  billion
51         51                Bhutan                  3.31  billion
52         52           Timor-Leste                  3.25  billion

In [33]:
gddf.to_csv("gd")